#: Python cache files
__pycache__/
**/__pycache__/

#: Virtual environment
venv/
.venv/
env/
.env/

#: IDE and editor files
.idea/

#: build packages
**/dist/

#: debug files
debug*
**/debug*
debug/
**/debug/